#left{
    width: 50%;
    float: left;
    height: 20px;
}
#right{
    width: 100vw;
    height: 100vh;
    float: center;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-main-text{
    height: -10px;
    width: 20%;
}
#input_email{
    width: 50%;
}

#input_senha{
    width: 50%;
}
#select1{
    padding: 10px;
    width: 50%;  
}
.login-main-text1{
    padding: 0px;
    margin: -1px;
   
}
#dropdown{
    width: 50%; 
}
#dropdown_country{
    width: 50%; 
}

#select1{
    width: 11%;
}

